.element-background {
    background-color: #f0f0f0; 
}
.element.image {
    background-image: url('image.jpg'); 
    background-repeat: no-repeat;
}
.rounded-border {
    border-radius: 10px;
}
.box-shadow {
    box-shadow: 5px 5px 10px rgba(0,0,0,0,5);
}
.text-shadow {
    text-shadow: 2px 2px 4px #000000
}
.button {
    background-color: blue;
    color: white;
    padding: 10px 20px; 
}
.container .button {
    border-radius: 5px;
}
#special-button {
    background-color: red; 
}
.margin-example {
    margin:20px;
}
.padding-exanple {
    padding: 10px 15px;
}
.center-element {
    margin: auto;
    display: block;
}
@media screen and (min-width: 1024px) {
    .container { 
        width: 80% ;
        margin: auto;
    }
}
@media screen and (min-wdith: 768px) and (max-width: 1023px) {
    .container { 
        width: 90; 
    }
}
@media screen and (max-wdith: 767px) {
    .container {
        width: 100;
    }
}
.body-text {
    font-family: 'Roboto', sans-serif; 
}

